/*------------------------------------*\
  # Common styles
\*------------------------------------*/

@use "../abstracts/variables" as *;

.logo {
  height: 60px;
  width: 60px;
  background-color: $sabero-gray;
  border-radius: 50%;
  border: 2px solid $sabero-black;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    object-fit: contain;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
