/*------------------------------------*\
  # Common styles
\*------------------------------------*/

@use "../abstracts/variables" as *;

.logo {
  height: 60px;
  width: 60px;
  background-color: $sabero-gray;
  border-radius: 50%;
  border: 2px solid $sabero-black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    border-color 0.2s,
    transform 0.2s;

  &__image {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  &:hover,
  &:focus {
    border: 3px solid $sabero-green;
    transform: scale(1.2);
  }
}
