/*------------------------------------*\
  # Footer styles
\*------------------------------------*/

@use "../abstracts/variables" as *;

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin: 15rem 7rem 0 7rem;
  border-top: 3px solid $sabero-gold;
  font-weight: bolder;

  a {
    color: $sabero-black;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      color: $sabero-blue;
    }
  }

  nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }
}
