/*------------------------------------*\
  # Header styles
\*------------------------------------*/

@use "../abstracts/variables" as *;

.site-header {
  container-type: inline-size;
  container-name: site-header;

  border-bottom: 2px solid $sabero-gold;

  .navbar {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;

    &-nav {
      gap: 2rem;
    }
  }

  .nav-link {
    color: $sabero-black;
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $sabero-green;
    }
  }

  button {
    background-color: $sabero-gray;
    color: $sabero-gray;
  }

  // Menú colapsado en telefono
  .navbar-collapse.show,
  .navbar-collapse.collapsing {
    background-color: oklch(10% 0.04 250 / 0.9);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin-top: 0.25rem;
    color: $sabero-gray;
  }
}

@container site-header (width < #{$mqMinTablet}) {
  .site-header .navbar {
    padding: 1rem 1rem;
  }

  .logo {
    height: 44px;
    width: 44px;
  }
}
