<footer class="site-footer">
  <div class="site-footer__contact">
    <p>
      <i class="fa-solid fa-envelope"></i> info@jornadas-artesania.es
      ·
      <i class="fa-solid fa-phone"></i> +34 987 000 000
    </p>
  </div>
  <div class="site-footer__bar">
    <include src="./components/logo.html"></include>
    <nav class="site-footer__nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="./index.html">Inicio</a></li>
        <li class="nav__item"><a class="nav__link" href="./article.html">La jornada</a></li>
        <li class="nav__item"><a class="nav__link" href="./speakers.html">Artesanos</a></li>
        <li class="nav__item"><a class="nav__link" href="./inscription.html">Inscríbete</a></li>
      </ul>
    </nav>
    <div class="social-links">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
  </div>
</footer>
