<footer>
  <include src="./components/logo.html"></include>
  <nav class="footer__nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="./index.html">Inicio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./article.html">La jornada</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./speakers.html">Artesanos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="./inscription.html">Inscríbete</a>
      </li>
    </ul>
  </nav>
  <div class="social-links">
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
  </div>
</footer>
