<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark">
    <include src="./components/logo.html"></include>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./article.html">La jornada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./speakers.html">Artesanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./inscription.html">Inscríbete</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
