<header>
  <include src="./components/logo.html"></include>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a class="header__nav-link" href="./article.html">La jornada</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./speakers.html">Artesanos</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./inscription.html">Inscríbete</a>
      </li>
    </ul>
  </nav>
</header>
