@font-face {
  font-family: 'LeonesaCancilleresca';
  src: url('../assets/fonts/LeonesaCancilleresca.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LeonesaCancillerescaModern';
  src: url('../assets/fonts/LeonesaCancillerescaModern.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VisigoticaLeonesa';
  src: url('../assets/fonts/VisigoticaLeonesa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}